*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
.form_main_page{
    max-width: 980px;
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
}
.form_page{
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.m_bottom{
    margin-bottom: 35px;
    text-align: center;
}
.form_page h1{
    font-size: 26px;
    text-align: center;
    margin: 10px 0px;
}
form .line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0px;
    width: 100%;
}
form .line input{
    border: none;
    outline: none;
    border-bottom:1px solid #ccc ;
    margin: 0;
    margin-right: 10px;
    padding: 5px 10px;
    width: 100%;
    max-width:max-content;
}
.two_side_box{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line_full input{
    border: none;
    outline: none;
    border-bottom:1px solid #ccc ;
    margin: 0;
    margin-right: 10px;
    padding: 5px 10px;
    width: 100%;
    max-width:100%;
}
.line select{
    border: none;
    outline: none;
    border-bottom:1px solid #ccc ;
    margin: 0;
    margin-right: 10px;
    padding: 0px 10px;
    color: #ccc;
}
input[type=submit]{
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
@media (max-width:980px){
    .form_main_page{
        width: 100%;
    }
}
@media (max-width:680px){
    .two_side_box{
        flex-direction: column;
        align-items: flex-start;
    }
    .slash{
        display: none;
    }
    form .line{
        display: flex;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }
    .input{
        width: 100%;
    }
    form .line input{
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .line select{
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;

    }
}
.symtom select{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-bottom:1px solid #ccc ;
    color: #ccc;
}