body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container_ {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #30475e;
    font-size: 36px;
    font-weight: bold;
}

main {
    line-height: 1.6;
}

main h2 {
    color: #30475e;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

main p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .container_ {
        width: 90%;
    }

    header h1 {
        font-size: 32px;
    }
}
